sanic==0.8.3
gunicorn==19.9.0
SQLAlchemy==1.2.13
psycopg2-binary==2.7.5
ujson==1.35
pendulum==2.0.4
python-dotenv==0.10.0
PyJWT==1.6.4
argon2-cffi==18.3.0
passlib==1.7.1
sendgrid==5.6.0
json-logging==0.0.9
sanic-cors==0.9.7
logzero==1.5.0
python-json-logger==0.1.9
