sanic==0.7.0
gunicorn==19.8.1
SQLAlchemy==1.2.8
psycopg2-binary==2.7.4
ujson==1.35
pendulum==2.0.2
python-dotenv==0.8.2
PyJWT==1.6.4
argon2-cffi==18.1.0
passlib==1.7.1
sendgrid==5.3.0
json-logging==0.0.1
sanic-cors==0.9.4
logzero==1.5.0
python-json-logger==0.1.8